body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    color: aliceblue;
    box-sizing: border-box;
    box-sizing: border-box;
    background-image: url('https://img.freepik.com/free-vector/green-futuristic-waves-background-vector-with-computer-code-technology_53876-110868.jpg?size=626&ext=jpg&ga=GA1.1.44546679.1699488000&semt=ais'); /* Ganti dengan path gambar latar belakang Anda */
    background-size: cover; /* Menyesuaikan ukuran gambar agar mengisi seluruh area */
    background-position: center; /* Posisi gambar di tengah halaman */
    background-repeat: no-repeat; /* Menghindari pengulangan gambar */
    background-attachment: fixed; /* Membuat gambar tetap di posisi selama pengguliran */
}

header img {
    width: 150px; /* Sesuaikan lebar sesuai kebutuhan Anda */
    height: 150px; /* Sesuaikan tinggi sesuai kebutuhan Anda */
    border-radius: 50%; /* Membuat gambar menjadi lingkaran */
    object-fit: cover; /* Menyesuaikan gambar agar tidak terdistorsi */
    margin-bottom: 10px; /* Menambahkan sedikit ruang antara foto dan teks */
}


header {
    background-color: rgba(255, 255, 255, 0.1);
    color: aliceblue;
    text-align: center;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
    font-style: italic;
}

section {
    padding: 20px;
    text-align: center;
}

section.about-me {
    color: aliceblue;
}

section#skills {
    text-align: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}

.skills-grid a {
    display: block;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    background-color: tomato;
    color: aliceblue;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.skills-grid a:hover {
    background-color: #555;
}

.about-me, .skills, .projects, .contact {
    margin-bottom: 10px;
}

section#contact {
    text-align: center;
}

.contact-links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.contact-links a {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right
    : 10px;
    text-decoration: none;
}

.contact-links img {
    width: 40px; /* Sesuaikan ukuran sesuai kebutuhan Anda */
    height: 40px; /* Sesuaikan ukuran sesuai kebutuhan Anda */
    border-radius: 50%; /* Membuat logo berbentuk lingkaran */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
